.previous-order-item-list {
    list-style: none;
    padding: 0;
}

.previous-order-item-list li {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.previous-order-column {
    display: flex;
    align-items: center;
}

.previous-order-update-button {
    padding: 7px;
}

.previous-order-update-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.increment-button-container {
    display: flex;
    align-items: center;
}

.increment-button-container span {
    margin: 0 8px;
}

aside {
    margin: 20px;
    padding: 20px;
    box-shadow: inset 0 0 0 2px rgba(215,215,215,255);
    border-radius: 10px;
    background-color: white;
}