.add-order-heading{
    color: rgba(0, 67, 50, 255);
}

.order-page-content {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.order-item {
    display: flex;
}

.order-items-wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 35px 50px;
}

.menu-item-dropdown{
    width: 250px;
    height: 35px;
}

.quantity-buttons-wrapper, .add-item-button-wrapper{
    height: 35px;
}

.quantity-buttons-wrapper{
    width: 65px;
    display: flex;
    justify-content: center;
}

.add-item-button-wrapper{
    width: 75px;
}

.quantity-update-button, .add-item-button{
    padding: 10px;
    background: none;
    color: rgba(192, 161, 89, 255);
}

.quantity-update-button{
    font-size: 15px;
    border: none;
}

.display-item{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-items: center;
    align-items: center;
}

.view-added-elements-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px;
    padding: 10px;
    color: rgba(0, 67, 50, 255);
}

.view-added-elements-wrapper:not(:empty) {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 67, 50, 255);
  }

.dropdown-label{
    color: rgba(0, 67, 50, 255);
    font-weight: 600;
    font-size: x-large;
    font-family: fangsong, serif;
}

.add-item-button{
    width: 104%;
    background-color: rgba(0, 67, 50, 255);
}

.success-message{
    color: rgba(0, 67, 50, 255);
    text-align: center;
  }

.create-order-button, .generate-bill{
    /* width: 25%; */
    padding: 10px;
}

.quantity-container{
    align-self: center;
    color: rgba(192, 161, 89, 255);
}

.added-elements-quantity-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.decrement-button, .increment-button{
 border-radius: 70%;
 height: 30px;
 width: 30px;
 font-size: larger;
}

.page-bottom-buttons{
    display: flex;
}