.Header {
    background-color: rgba(0, 67, 50, 255);
    font-family: fangsong;
    color: rgba(192, 161, 89, 255);
}

.Heading-Container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Heading {
    color: rgba(192, 161, 89, 255);
    font-size: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .username-display {
    display: block;
    color: rgba(192, 161, 89, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(192, 161, 89, 255);
    color: rgba(0, 67, 50, 255);
}

.Navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.User-Account-Links {
    margin-left: auto;
}

