.table-order-page {
    background-color: rgba(192, 161, 89, 255);
}

.order-page-content{
    padding: 20px 0px;
}

.order-item{
    display: flex;
}

.order-items-wrapper{
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.display-item-quantity{
    margin-left: 20px;
}